
.header {
  background-color: #3d1600;
  padding: 20px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}


.signOut {
  background-color: #d7e2dd;
  color: rgb(46, 46, 46);
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  font-size: small;
  cursor: pointer;
  transition: background-color 1s ease;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signOut:hover {
  background-color:#d7e2dd ;
  color:var(--primary-colour) ;
  
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
  background-color: transparent;
  color: #d7e2dd;
  padding:15px;

}
